<div class="container">
  <h1>Usuarios Registrados</h1>
  <div class="search-bar">
    <input type="text" [(ngModel)]="searchText" placeholder="Buscar usuarios por nombre o apellido">
    <button class="btn-primary" (click)="getUsers()">Buscar</button>
  </div>
  <div class="action-buttons">
    <button class="btn-success" (click)="agregarUsuario()">Agregar Usuario</button>
  </div>

  <table>
    <tr>
      <th>ID</th>
      <th>Nombre de Usuario</th>
      <th>Nombre</th>
      <th>Apellido Paterno</th>
      <th>Apellido Materno</th>
      <th>Email</th>
      <th>Teléfono</th>
    </tr>
    <tr *ngFor="let user of users | filter: searchText">
      <td>{{ user.Id }}</td>
      <td>{{ user.Username }}</td>
      <td>{{ user.Name }}</td>
      <td>{{ user.FatherLastName }}</td>
      <td>{{ user.MotherLastName }}</td>
      <td>{{ user.Email }}</td>
      <td>{{ user.PhoneNumber }}</td>
    </tr>
  </table>
  <p class="text-center" *ngIf="(!users || users.length === 0)">Realice una búsqueda por nombre.</p>
</div>


